.card__description {
  background-color: white;
  color: black;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 18px;
}
